# DATABASE_URL=postgresql+psycopg2://postgres:Hrhk@9090@localhost:5432/attendance
# SECRET_KEY=change-this-to-a-random-32-char-secret-key-in-production
# ALGORITHM=HS256
# ACCESS_TOKEN_EXPIRE_MINUTES=60
# BLOCKCHAIN_ENABLED=false
# BLOCKCHAIN_URL=http://127.0.0.1:8545

# # --- DATABASE CONFIGURATION ---
# DB_ENGINE=postgresql
# DB_DRIVER=psycopg2
# DB_USER=postgres
# DB_PASSWORD=Hrhk@9090
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=attendance

# # Reconstructed for libraries that require the full string:
# # DATABASE_URL=${DB_ENGINE}+${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# # --- SECURITY ---
# SECRET_KEY=change-this-to-a-random-32-char-secret-key-in-production
# ALGORITHM=HS256
# ACCESS_TOKEN_EXPIRE_MINUTES=60

# # --- BLOCKCHAIN SETTINGS ---
# BLOCKCHAIN_ENABLED=false
# BLOCKCHAIN_URL=http://127.0.0.1:8545

DB_USER=postgres
DB_PASSWORD=Hrhk@9090
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=attendance_db
SECRET_KEY=change-this-to-a-random-32-char-secret-key-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
BLOCKCHAIN_ENABLED=false
BLOCKCHAIN_URL=http://127.0.0.1:8545
